{{ form_start(form) }}
	<style type="text/css">

		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		  color: #8c8f9e;
		  opacity: 1; /* Firefox */
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  color: #8c8f9e;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
		  color: #8c8f9e;
}
		.bootstrap-tagsinput{width: 100%}
		.quote-imgs-thumbs {
		  background: #eee;
		  border: 1px solid #ccc;
		  border-radius: 0.25rem;
		  margin: 1.5rem 0;
		  padding: 0.75rem;
		}
		.quote-imgs-thumbs--hidden {
		  display: none;
		}
		.img-preview-thumb {
			cursor: pointer;
			background: #fff;
			border: 1px solid #777;
			border-radius: 0.25rem;
			box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
			margin-right: 1rem;
			padding: 0.25rem;
			margin-bottom: 12px;
			height: 130px;
			width: 210px;
			object-fit: cover;
		}
		.btn-add-photos{
			width: 266px;
		    height: 51px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    color: #fff;
		}




		.avatar-upload .avatar-edit {
		  position: absolute;
		  right: 12px;
		  z-index: 1;
		  top: 10px;
		}
		.avatar-upload .avatar-edit input {
		  display: none;
		}
		.avatar-upload .avatar-edit input + label {
		  display: inline-block;
		  width: 34px;
		  height: 34px;
		  margin-bottom: 0;
		  border-radius: 100%;
		  background: #FFFFFF;
		  border: 1px solid transparent;
		  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
		  cursor: pointer;
		  font-weight: normal;
		  transition: all 0.2s ease-in-out;
		}
		.avatar-upload .avatar-edit input + label:hover {
		  background: #f1f1f1;
		  border-color: #d6d6d6;
		}
		.avatar-upload .avatar-edit input + label:after {
		  content: "\f040";
		  font-family: 'FontAwesome';
		  color: #757575;
		  position: absolute;
		  top: 10px;
		  left: 0;
		  right: 0;
		  text-align: center;
		  margin: auto;
		}
		.avatar-upload .avatar-preview {
		  width: 237px;
    	  height: 159px;
		  position: relative;
		  border: 6px solid #F8F8F8;
		  box-shadow: 0px 2px 11px 3px rgb(0 0 0 / 10%);
		}
		.avatar-upload .avatar-preview > div {
		  width: 100%;
		  height: 100%;
		  background-size: cover;
		  background-repeat: no-repeat;
		  background-position: center;
		}
		.galleries-container{
			background: #eee;
		    padding: 13px;
		}
		.galleries-list{
			display: flex;
		    margin-bottom: 20px;
		    flex-wrap: wrap;
		}
		.galleries-list >*{
			margin-right: 10px;
		    margin-bottom: 12px;
		    height: 130px;
		    width: 210px;
		    max-width: 200px;
		    object-fit: cover;
		}

		.remove-photo {
		    position: absolute;
		    z-index: 6;
		    right: -8px;
		    top: -10px;
		    background: #EED;
		    border-radius: 50%;
		    width: 30px;
		    height: 30px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    color: #ea0808;
		    box-shadow: 0px 0px 3px 4px #e7e7e7;
		    cursor: pointer;
		}

	</style>
    <div class="col-lg-12 form-group">
    	<label>Nom</label>
        {{ form_row(form.nom, {'attr': {'placeholder': 'Nom'}}) }}
    </div>
    <div class="col-lg-12 form-group">
    	<label>Prix</label>
	      <div class="input-group">
	        <input type="number" name="prix" class="form-control field-number" placeholder="Prix" value="{{car.prix}}" >
	        <div class="input-group-append">
	          <span class="input-group-text">FCFA</span>
	        </div>
	      </div>
	</div>
    <div class="col-lg-12 form-group">
    	<label>Marque</label>
        {{ form_row(form.marque, {'attr': {'placeholder': 'Marque'}}) }}
    </div>
    <div class="col-lg-12 form-group">
    	<label>Modele</label>
        {{ form_row(form.model, {'attr': {'placeholder': 'Model'}}) }}
    </div>
    <div class="col-lg-12 form-group">
    	<label>Killometrage</label>
	      <div class="input-group">
	        <input type="text" pattern="[0-9]+([\.,][0-9]+)?" step="0.01"
            title="ne prend que des valeur decimale avec au max 1 chiffre apres la vigule" class="form-control field-number" name="killometrage" placeholder="Killometrage" value="{{car.killometrage}}">
	        <div class="input-group-append">
	          <span class="input-group-text">KM</span>
	        </div>
	      </div>
	</div>
    <div class="col-lg-12 form-group">
    	<label>Carburant</label>
        {{ form_row(form.carburant, {'attr': {'placeholder': 'Carburant'}}) }}
    </div>
    <div class="col-lg-12 form-group">
    	<label>Transmission</label>
        {{ form_row(form.transmission, {'attr': {'placeholder': 'Transmission'}}) }}
    </div>
    <div class="col-lg-12 form-group">
        {{ form_row(form.annee, {'attr': {'placeholder': 'Année'}}) }}
    </div>
    <div class="col-lg-12 form-group">
    	<label>Etat</label>
	      <div class="input-group">
	        <input type="text" class="form-control field-number" pattern="[0-9]+([\.,][0-9]+)?" step="0.01"
            title="ne prend que des valeur decimale avec au max 1 chiffre apres la vigule" name="etat" placeholder="Etat" value="{{car.etat}}">
	        <div class="input-group-append">
	          <span class="input-group-text">/10</span>
	        </div>
	      </div>
	</div>
    <div class="col-lg-12 form-group">
    	<label>Tag</label>
        {{ form_row(form.tag, {'attr': {'placeholder': 'Tag', 'data-role':'tagsinput', 'size':'100' }}) }}
    </div>
    <div class="col-lg-12 form-group">
    	<label>Description</label>
        {{ form_row(form.description, {'attr': {'placeholder': 'Description', 'rows':'5'}}) }}
    </div>
    <div class="col-lg-12 form-group">
        <label class="ckbox" style="display: inline;">
		    <input type="checkbox" name="status" {% if car.status or car.id is not defined %}checked{% endif %}><span>Actif</span>
		</label>
    </div>

    <div class="col-lg-12 form-group">
    	<label for="imageUpload">Photo mise en avant</label>
    	<div class="avatar-upload">
    		{% set defaultThumb = asset('assets/bo/img/thumbnail.png') %}
    		{% if car.thumb is defined and car.thumb is not null %}
    			{% set defaultThumb = asset('assets/images/'~car.getCreatedAt|date('Y-m')~'/compressed/'~car.thumb) %}
    		{% endif %}
	        <label class="avatar-preview" for="imageUpload" style="cursor: pointer;">
	            <div id="imagePreview" style="background-image: url('{{defaultThumb}}');">
	            </div>
	        </label>
	        <input type='file' id="imageUpload" accept="jpg, jpeg, png" name="thumbnail" style="display: none;"/>
	    </div>
    </div>

    <div class="col-lg-12 form-group">

    	{% if car.gallery is defined and car.gallery is not null %}
    		<div class="galleries-container" onclick="">
    			<p style="font-weight: bold;">{{car.unserializegallery|length}} Photos</p>
	    		<div class="galleries-list">
			    	{% for gallerie in car.unserializegallery %}
			    		<div class="photos-container" style="position: relative; cursor: pointer;">
				    		<img dataFile="{{asset('assets/images/'~car.getCreatedAt|date('Y-m')~'/'~gallerie)}}" src="{{asset('assets/images/'~car.getCreatedAt|date('Y-m')~'/compressed/'~gallerie)}}" class="img-preview-thumb" style="width: 100%; height: 100%;">
				    		<a href="{{path('car_delete_images', {'id':car.id})}}?image={{gallerie}}" class="remove-photo"><i class="fa fa-times"></i></a>
				    	</div>
				    {% endfor %}
				    
			    </div>
			</div>
    	{% endif %}

    	<div class="quote-imgs-thumbs quote-imgs-thumbs--hidden" id="img_preview" aria-live="polite"></div>
    	<label class="btn btn-teal btn-add-photos" for="customFile2" style="margin:0; height: 42px; margin-top: 25px">
	    	+ Selectionner les photos
	    </label>
		<input class="show-for-sr" type="file" id="customFile2" accept="jpg, jpeg, png" name="galeries[]" multiple style="display: none;"  />
	     
    </div>


    <div class="text-center mg-t-40">
    	<button class="btn btn-teal">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}

<script type="text/javascript">

	var imgUpload = document.getElementById('customFile2')
	  , imgPreview = document.getElementById('img_preview')
	  , totalFiles
	  , previewTitle
	  , previewTitleText
	  , img;

	imgUpload.addEventListener('change', previewImgs, false);
	function previewImgs(event) {
		imgPreview.innerHTML= "";
	  totalFiles = imgUpload.files.length;
	  
	  if(!!totalFiles) {
	    imgPreview.classList.remove('quote-imgs-thumbs--hidden');
	    previewTitle = document.createElement('p');
	    previewTitle.style.fontWeight = 'bold';
	    previewTitleText = document.createTextNode(totalFiles + ' Images selectionnées');
	    previewTitle.appendChild(previewTitleText);
	    imgPreview.appendChild(previewTitle);
	  }
	  
	  for(var i = 0; i < totalFiles; i++) {
	    img = document.createElement('img');
	    img.src = URL.createObjectURL(event.target.files[i]);
	    img.setAttribute('dataFile', URL.createObjectURL(event.target.files[i]));
	    img.classList.add('img-preview-thumb');
	    imgPreview.appendChild(img);
	  }
	}
</script>
