{% extends 'admin/layout.html.twig' %}
{% block title %} {{parent()}} | vehicules {% endblock %}

{% block stylesheets_admin %}
    {{parent()}}
    <link href="{{asset('assets/bo/lib/bootstrap-tagsinput/bootstrap-tagsinput.css') }}" rel="stylesheet">
{% endblock %}

{% block content_title %}
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
        	<a class="breadcrumb-item" href="{{path('admin_vehicules')}}">Véhicules</a>
          	<span class="breadcrumb-item active">Modification d'un véhicule</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="br-pagetitle">
        <div class="pd-sm-l-0" style="padding-left: 0">
          <h4 class="tx-gray-800 mg-b-5">Modification d'un véhicule</h4>
        </div>
      </div><!-- d-flex -->
{% endblock %}

{% block body_content %}
        <div class="br-section-wrapper">
		    {{ include('admin/car/_form.html.twig') }}
		</div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
    <script src="{{asset('assets/bo/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>
    <script type="text/javascript">
      CKEDITOR.replace( 'car[description]' );
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        jQuery(document).ready(function() { 
          $("#imageUpload").change(function() {
              readURL(this);
          });

          $('.menu-vehicule').addClass('active');
        });
        $('#car_marque option[value=""]').html('--Selctionner la marque--');
        $('#car_model option[value=""]').html('--Selctionner le modele--');
        $('form[name=car]').attr('enctype', 'multipart/form-data');
        
        $('.field-number').keyup(function () {
            var content = $(this).val();
            $(this).val(content.replace(/[\,]+/g, '.'));
        });

        $('body').on('click', '.img-preview-thumb', function(){
			console.log($(this).attr('dataFile'));
			window.open($(this).attr('dataFile') , '_blank').focus();
		})
    </script>
{% endblock %}