{% extends 'admin/layout.html.twig' %}
{% block title %} {{parent()}} | vehicules {% endblock %}

{% block stylesheets_admin %}
    {{parent()}}
    <link href="{{asset('assets/bo/lib/datatables.net-dt/css/jquery.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{asset('assets/bo/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css') }}" rel="stylesheet">
    <style type="text/css">
      .title-btn-container{
            padding-left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        .img-car{
          height: 50px;
          width: 50px;
          object-fit: cover;
        }
    </style>
{% endblock %}

{% block content_title %}
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <span class="breadcrumb-item active">Véhicules</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="br-pagetitle">
        <div class="pd-sm-l-0 title-btn-container" style="padding-left: 0">
          <h4 class="tx-gray-800 mg-b-5">Listes véhicules</h4>
          <div class="group-btn">
              <a href="{{path('car_new')}}" class="btn btn-outline-secondary"><i class="fa fa-plus"></i> Nouveau vehicule</a>
          </div>
        </div>
      </div><!-- d-flex -->
{% endblock %}

{% block body_content %}
    
    <div class="br-section-wrapper">
        <div class="table-wrapper">
          <div class="table-responsive">
            <table id="datatable1" class="table">
              <thead>
                <tr>
                  <th class="wd-15p">Image</th>
                  <th class="wd-15p">Nom</th>
                  <th class="wd-15p">Prix</th>
                  <th class="wd-15p">Marque</th>
                  <th class="wd-20p">Modele</th>
                  <th class="wd-15p">Transmission</th>
                  <th class="wd-10p">Carburant</th>
                  <th class="wd-25p">Année</th>
                  <th class="wd-25p">KM</th>
                  <th class="wd-25p" style="min-width: 90px;">Action</th>
                </tr>
              </thead>
              <tbody>  
                {% for car in cars %}
                  <tr>
                    <td class="wd-15p">
                      {% if car.thumb is not null %} 
                        <img src="{{asset('assets/images/'~car.getCreatedAt|date('Y-m')~'/compressed/'~car.thumb)}}" class="img-fluid rounded img-car" alt="">
                      {% endif %}
                    </td>
                    <td class="wd-15p">{{car.nom}}</td>
                    <td class="wd-15p">{{ car.prix is not null ? car.prix~'FCFA':'' }}</td>
                    <td class="wd-15p">{{car.marque is not null ? car.marque.nom : ''}}</td>
                    <td class="wd-20p">{{car.model is not null ? car.model.nom : ''}}</td>
                    <td class="wd-15p">{{car.transmission}}</td>
                    <td class="wd-10p">{{car.carburant}}</td>
                    <td class="wd-25p">{{car.annee}}</td>
                    <td class="wd-25p">{{car.killometrage}}</td>
                    <td>
                    <a href="{{path('car_edit', {'id':car.id})}}" class="btn btn-info btn-icon">
                      <div><i class="fa fa-edit"></i></div>
                    </a>
                    <span class="btn-icon">
                       <form method="post" action="{{ path('car_delete', {'id': car.id}) }}" onsubmit="return confirm('confirmez-vous la suppression?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ car.id) }}">
                            <button class="btn btn-danger btn-icon">
                                <div><i class="fa fa-trash"></i></div>
                            </button>
                        </form>
                    </span>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div><!-- table-wrapper -->
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('assets/bo/lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{asset('assets/bo/lib/datatables.net-dt/js/dataTables.dataTables.min.js') }}"></script>
    <script src="{{asset('assets/bo/lib/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{asset('assets/bo/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js') }}"></script>

    <script>
      $(function(){
        'use strict';

        $('#datatable1').DataTable({
          language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
          }
        });
        $('.menu-vehicule').addClass('active');
      });
    </script>
{% endblock %}