{% extends 'base.html.twig' %}

{% block title %}Car{% endblock %}

{% block body %}
    <h1>Car</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ car.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ car.prix }}</td>
            </tr>
            <tr>
                <th>Thumb</th>
                <td>{{ car.thumb }}</td>
            </tr>
            <tr>
                <th>Gallery</th>
                <td>{{ car.gallery }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ car.note }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ car.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ car.description }}</td>
            </tr>
            <tr>
                <th>Killometrage</th>
                <td>{{ car.killometrage }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ car.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Carburant</th>
                <td>{{ car.carburant }}</td>
            </tr>
            <tr>
                <th>Transmission</th>
                <td>{{ car.transmission }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ car.annee }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ car.createdAt ? car.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Tag</th>
                <td>{{ car.tag }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('car_index') }}">back to list</a>

    <a href="{{ path('car_edit', {'id': car.id}) }}">edit</a>

    {{ include('car/_delete_form.html.twig') }}
{% endblock %}
