{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Reduction-Connexion{% endblock %}

{% block fos_user_content %}
<div class="d-flex align-items-center justify-content-center ht-100v">
  <img src="https://via.placeholder.com/1920x1280" class="wd-100p ht-100p object-fit-cover" alt="">
  <div class="overlay-body bg-black-6 d-flex align-items-center justify-content-center">
    <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 rounded bd bd-white-2 bg-black-7">
      <div class="signin-logo tx-center tx-28 tx-bold tx-white"><span class="tx-normal">[</span> Reduction <span class="tx-info">plus</span> <span class="tx-normal">]</span></div>
      {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        	{{ error.messageKey|trans(error.messageData, 'security') }}
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
    	</div>
	 {% endif %}

	<form action='{{ path("fos_user_security_check") }}' class="text-left mg-t-60" method="post" >
		{% if csrf_token %}
	        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	    {% endif %}
	      <div class="form-group">
	        <input type="text" class="form-control fc-outline-dark" placeholder="Entrez votre email" id="username" name="_username" value="{{ last_username }}" required="required">
	      </div><!-- form-group -->
	      <div class="form-group">
	        <input type="password" class="form-control fc-outline-dark" placeholder="Entez votre mot de passe" id="password" name="_password" required="required">
	        <a href="{{ path('fos_user_resetting_request') }}" class="tx-info tx-12 d-block mg-t-10">Mot de passe oublié?</a>
	      </div><!-- form-group -->

	      <button type="submit" name="_submit" id="_submit" class="btn btn-info btn-block">Connexion</button>

	      <div class="mg-t-60 tx-center" style="display: none;">Pas de compte? <a href="" class="tx-info">Inscription</a></div>
  	</form>
    </div><!-- login-wrapper -->
  </div><!-- overlay-body -->
</div>
	
{% endblock %}