{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Reduction-reset-request{% endblock %}

{% block fos_user_content %}
<div class="d-flex align-items-center justify-content-center ht-100v">
  <img src="https://via.placeholder.com/1920x1280" class="wd-100p ht-100p object-fit-cover" alt="">
  <div class="overlay-body bg-black-6 d-flex align-items-center justify-content-center">
    <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 rounded bd bd-white-2 bg-black-7">
      <div class="signin-logo tx-center tx-28 tx-bold tx-white"><span class="tx-normal">[</span> Reduction <span class="tx-info">plus</span> <span class="tx-normal">]</span></div>
      
      {% if error is defined %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        	{{ error }}
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
    	</div>
	 {% endif %}

		<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" autocomplete="off" class="text-left mg-t-60 fos_user_resetting_request">
	        <div class="form-group">
	            <input type="text" id="username" name="username" class="form-control fc-outline-dark" required="required" placeholder="Entrez votre email" />
	        </div>

	        <input type="submit" class="btn btn-info btn-block" value="{{ 'resetting.request.submit'|trans }}" />
	           
	        <div class="mg-t-60 tx-center">
	        	Mot de passe retrouvez? <a class="tx-info" href="{{ path('fos_user_security_login') }}">Connectez-vous</a>
	        </div>
		</form>
    </div><!-- login-wrapper -->
  </div><!-- overlay-body -->
</div>
	
		
{% endblock %}