{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.nom, 'Nom') }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control fc-outline'}}) }}
    </div>
    <button class="btn btn-info btn-block">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
