{% extends 'admin/layout.html.twig' %}
{% block title %} {{parent()}} | marques {% endblock %}

{% block stylesheets_admin %}
    {{parent()}}
    <link href="{{asset('assets/bo/lib/datatables.net-dt/css/jquery.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{asset('assets/bo/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css') }}" rel="stylesheet">
    <style type="text/css">
        .title-btn-container{
            padding-left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content_title %}
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <span class="breadcrumb-item active">Marques</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="br-pagetitle">
        <div class="pd-sm-l-0 title-btn-container" style="padding-left: 0">
          <h4 class="tx-gray-800 mg-b-5">Listes des marques</h4>
          <div class="group-btn">
              <a href="{{path('marque_new')}}" class="btn btn-outline-secondary"><i class="fa fa-plus"></i> Nouvelle marque</a>
          </div>
        </div>
      </div><!-- d-flex -->
{% endblock %}

{% block body_content %}
    
    <div class="br-section-wrapper">
        <div class="table-wrapper">
        <table id="datatable1" class="table display responsive nowrap">
          <thead>
            <tr>
              <th class="wd-15p">Nom</th>
              <th class="wd-15p">Action</th>
            </tr>
          </thead>
          <tbody>   
            {% for marque in marques %}         
            <tr>
              <td>{{marque.nom}}</td>
              <td>
                <a href="{{path('marque_edit', {'id':marque.id})}}" class="btn btn-info btn-icon">
                  <div><i class="fa fa-edit"></i></div>
                </a>
                <span class="btn-icon">
                   <form method="post" action="{{ path('marque_delete', {'id': marque.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marque.id) }}">
                        <button class="btn btn-danger btn-icon">
                            <div><i class="fa fa-trash"></i></div>
                        </button>
                    </form>
                </span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div><!-- table-wrapper -->
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('assets/bo/lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{asset('assets/bo/lib/datatables.net-dt/js/dataTables.dataTables.min.js') }}"></script>
    <script src="{{asset('assets/bo/lib/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{asset('assets/bo/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js') }}"></script>

    <script>
      $(function(){
        'use strict';

        $('#datatable1').DataTable({
          responsive: false,
          language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
          }
        });
        $('.menu-marque').addClass('active');
      });
    </script>
{% endblock %}