{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Reduction-Inscription{% endblock %}

{% block fos_user_content %}
<div class="d-flex align-items-center justify-content-center ht-100v">
  <img src="https://via.placeholder.com/1920x1280" class="wd-100p ht-100p object-fit-cover" alt="">
  <div class="overlay-body bg-black-6 d-flex align-items-center justify-content-center">
    <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 rounded bd bd-white-2 bg-black-7">
      <div class="signin-logo tx-center tx-28 tx-bold tx-white"><span class="tx-normal">[</span> Reduction <span class="tx-info">plus</span> <span class="tx-normal">]</span></div>

		{% if not form.vars.valid %}
		    {% for child in form.children %}
		        {% for error in child.vars.errors%}
		            <div class="alert alert-danger alert-dismissible fade show" role="alert">
			        	{{error.message}}
				        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
		        	</div>
		        {% endfor %}
		    {% endfor %}
		{% endif %}

	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register mg-t-60', 'autocomplete':'off'}}) }}
		<div class="form-group">
            {{ form_widget(form.username, {'attr': {'class': 'form-control fc-outline-dark', 'id': 'username', 'placeholder':"nom d'utilisateur"}}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.email, {'attr': {'class': 'form-control fc-outline-dark', 'id': 'email', 'placeholder':"Email"}}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'password form-control fc-outline-dark', 'placeholder':"Mot de passe"}}) }}
            <div style="display: none;">
	            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control password2 fc-outline-dark', 'placeholder':" Confirmer mot de passe"}}) }}
            </div>
        </div>

        <button type="submit" class="btn btn-info btn-block" value="">Inscription</button>

        <div class="mg-t-60 tx-center">Vous avez deja un compte? <a href="{{ path('fos_user_security_login') }}" class="tx-info">Connectez-vous</a></div>
	{{ form_end(form) }}	
		
{% endblock %}
{% block script %}
	<script type="text/javascript">
		$(".password").on("input", function(e) {
			$(".password2").val($(this).val());
		});
	</script>
{% endblock %}