{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-{% endblock %}
{% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket Plus">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracketplus">
    <meta property="og:title" content="Bracket Plus">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">
{% endblock %}

{% block stylesheets %}
	<!-- vendor css -->
    <link href="{{asset('assets/bo/lib/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="{{asset('assets/bo/lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
    {% block stylesheets_admin %} {% endblock %}
    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{asset('assets/bo/css/bracket.css') }}">
    <link rel="stylesheet" href="{{asset('assets/bo/css/bracket.simple-white.css') }}">
{% endblock %}

{% block body %}
	    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href=""><span>[</span>Reduction <i>plus</i><span>]</span></a></div>
    <div class="br-sideleft sideleft-scrollbar">
    	<label class="sidebar-label pd-x-10 mg-t-20 op-3"></label>
      <ul class="br-sideleft-menu">
        <li class="br-menu-item">
          <a href="{{path('admin_vehicules')}}" class="br-menu-link menu-vehicule">
            <i class="fas fa-car"></i>
            <span class="menu-item-label">Vehicules</span>
          </a><!-- br-menu-link -->
        </li><!-- br-menu-item -->
        <li class="br-menu-item">
          <a href="{{path('marque_index')}}" class="br-menu-link menu-marque">
            <i class="fas fa-car"></i>
            <span class="menu-item-label">Marques</span>
          </a><!-- br-menu-link -->
        </li><!-- br-menu-item -->
        <li class="br-menu-item">
          <a href="{{path('modele_index')}}" class="br-menu-link menu-modele">
            <i class="fas fa-car"></i>
            <span class="menu-item-label">Modeles</span>
          </a><!-- br-menu-link -->
        </li><!-- br-menu-item -->

      <br>
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
      </div><!-- br-header-left -->
      <div class="br-header-right">
        <nav class="nav">
          <div class="dropdown">
            <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
              <span class="logged-name hidden-md-down">Administrateur</span>
              <i class="icon ion-power"></i>
              <span class="square-10 bg-success"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-header wd-250">
              <ul class="list-unstyled user-profile-nav">
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon ion-power"></i> Deconnexion</a></li>
              </ul>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </nav>
      </div><!-- br-header-right -->
    </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->


    <!-- ########## START: MAIN PANEL ########## -->

    
    <div class="br-mainpanel">
      {% block content_title %}{% endblock %}

      <div class="br-pagebody">

        {% block body_content %}{% endblock %}

      </div><!-- br-pagebody -->

    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->
    

{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/bo/lib/jquery/jquery.min.js') }}"></script>
    <script src="{{asset('assets/bo/lib/jquery-ui/ui/widgets/datepicker.js') }}"></script>
    <script src="{{asset('assets/bo/lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{asset('assets/bo/lib/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script src="{{asset('assets/bo/lib/moment/min/moment.min.js') }}"></script>
    <script src="{{asset('assets/bo/lib/peity/jquery.peity.min.js') }}"></script>

    <script src="{{asset('assets/bo/js/bracket.js') }}"></script>
{% endblock %}
