<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex">
    <!-- Meta -->

    <title>{% block title %}{% endblock %}</title>

    <!-- vendor css -->
    <link href="{{asset('assets/bo/lib/@fortawesome/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/bo/lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{asset('assets/bo/css/bracket.css')}}">
    <link rel="stylesheet" href="{{asset('assets/bo/css/bracket.simple-white.css')}}">
  </head>

  <body>
        {% block fos_user_content %}{% endblock %}

    <script src="{{asset('assets/bo/lib/jquery/jquery.min.js')}}"></script>
    <script src="{{asset('assets/bo/lib/jquery-ui/ui/widgets/datepicker.js')}}"></script>
    <script src="{{asset('assets/bo/lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    
    {% block script %}{% endblock %}
    </body>
</html>  
