
<!DOCTYPE html>

<html lang="fr">
    <head>
        <title>Reduction{% block title %}{% endblock %}</title>
        {% block meta %}{% endblock %}
        {% block dataStructured %}{% endblock %}
        <link rel="icon" href="" type="image/x-icon" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body data-base-url="{{url('index')}}" class="{% block class %}{% endblock %}">
    
      	{% block body %}{% endblock %}

		{% block javascripts %}{% endblock %}

        <!-- require jquery to toast and jqueryvalidation -->
		<script>
        jQuery(document).ready(function() { 
            {% for label, message in app.flashes('success') %}
                toastr.success("{{ message }}");
            {% endfor %}
            {% for message in app.flashes('error') %}
                toastr.error("{{ message }}");
            {% endfor %}
            {% for message in app.flashes('infos') %}
                toastr.infos("{{ message }}");
            {% endfor %}
            {% for message in app.flashes('warning') %}
                toastr.warning("{{ message }}");
            {% endfor %}
        });
        isObjectEmpty = function(obj) {
            for(var key in obj) {
                if(obj.hasOwnProperty(key))
                    return false;
            }
            return true;
        };
    </script>
    </body>
</html>
