
{{ form_start(form) }}
	<div class="col-lg-12 form-group">
        {{ form_row(form.nom, {'attr': {'placeholder': 'Nom'}}) }}
    </div>
    <div class="col-lg-12 form-group">
        {{ form_row(form.marque, {'attr': {'placeholder': 'Marque'}}) }}
	</div>
    <div class="text-center">
    	<button class="btn btn-teal">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}



