{% extends 'admin/layout.html.twig' %}
{% block title %} {{parent()}} | modeles {% endblock %}

{% block stylesheets_admin %}
    {{parent()}}
{% endblock %}

{% block content_title %}
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="{{path('modele_index')}}">Modeles</a>
            <span class="breadcrumb-item active">Ajout d'un modele</span>
        </nav>
      </div><!-- br-pageheader -->
      <div class="br-pagetitle">
        <div class="pd-sm-l-0" style="padding-left: 0">
          <h4 class="tx-gray-800 mg-b-5">Ajout d'un modele</h4>
        </div>
      </div><!-- d-flex -->
{% endblock %}

{% block body_content %}
        <div class="br-section-wrapper">
        {{ include('admin/model/_form.html.twig') }}
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        jQuery(document).ready(function() {

          $('.menu-modele').addClass('active');
        });

    </script>
{% endblock %}